*{
    font-family: Arial, Helvetica, sans-serif;
}

#box{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0 auto; /* CENTRALIZAR */
    background-color: green;
    border: 5px red solid;
    color: white;/* cor do texto */
    text-align: justify; /* alinhamento horizontal */
    letter-spacing: 4px; /* espaço entre as letras */
    vertical-align: top; /* alinhamento vertical */ 
    line-height: 40px; /* altura da linha */
    text-decoration: underline;
    font-size: 10px;
    font-weight: 900;
}
a:link{
    color:red;
}
 a:hover{
    font-size: 40px;
 }

 a:visited{
    color: blue;
 }
